
.app-wrapper {
    margin: auto;
    display: grid;
    width: 1400px;
    grid-template-areas:
  "header header"
  "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: header;
    background-color: chartreuse;
}

.header img {
    width: 60px;
}

.nav {
    grid-area: nav;
    background-color: darkseagreen;
}

.content {
    grid-area: content;
    background-color: cyan;
}